<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <title>Dashboard</title>
</head>

<body>
  <div class="container py-4">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="logo.png" class="bi me-3" width="50" height="50" viewBox="0 0 118 94" role="img">
        </img>
        <span class="fs-4">Image Drive</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/logout" class="nav-link active bg-danger"
            aria-current="page">Logout</a></li>
      </ul>
    </header>
    <div class="container text-center">
      <h1 class="h3" id="welcome">Welcome {{name}}</h1>
      <a href="/upload"><button class="btn btn-large btn-primary mt-3">Upload Images</button></a>
    </div>
    <div class="container w-75 mt-5" id="mainContainer">
      {{#each imageURL}}
      <a href="{{this}}" target="_blank"><img src="{{this}}" class="image" alt="" srcset="" height="250" width="250"></a>
      {{/each}}
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      © 2021-2021
      Developer: <a href="https://www.linkedin.com/in/gaurav-singh-17b9a873/">Gaurav Singh</a>
    </footer>
  </div>


  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
    <link rel="stylesheet" href="dashBoard.css">
</body>

</html>